.h1 {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-family: Impact;
    line-height: 140%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin: 47px auto 0;
    background: url('../../../../public/bg_noise.png') repeat center center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.h2 {
    font-size: 36px;
    font-family: Impact;
    line-height: 140%;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    background: url('../../../../public/bg_noise.png') repeat center center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.text_regular,
.text_regular_grey {
    font-size: 16px;
    line-height: 20.8px;
    color: var(--white);
    margin-bottom: 16px;
    padding: 0;
    font-weight: 300;
}

.text_regular_grey {
    color: var(--grey-light);
}

.text_regular:last-child {
    margin-bottom: 0;
}

.h3_red,
.h3_white {
    font-family: Impact;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
    color: var(--grey-light);
    text-transform: uppercase;
    white-space: nowrap;
}

.h3_red {
    color: var(--main-color-2);
}





@media (min-width:768px) {
    .h1 {
        font-size: 96px;
        margin-top: 160px;
    }
    .h2 {
        font-size: 66px;
    }
    .h3_red,
    .h3_white {
        font-size: 36px;
        line-height: 50.4px;
    }
}

@media (min-width:1600px) {
    .h1 {
        font-size: 184px;
    }
    .h2 {
        font-size: 96px;
        margin-top: 92px;
    }

    .text_regular,
    .text_regular_grey {
        font-size: 18px;
        line-height: 26.96px;
    }

    .h3_red,
    .h3_white {
        font-size: 48px;
        line-height: 67.2px;
    }




}