.section {
    width: 100vw;
    position: relative;
}

.section * {
    position: relative;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 33px;
    margin-bottom: 68px;
}


@media (min-width:786px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
    }
}

@media (min-width:1600px) {
    .tape {
        margin-top: 164px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 168px;
    }
}