.feedback {
  margin-bottom: 59px;
}

.feedback:last-child {
  margin-bottom: 0;
}

.feedback_img {
  display: none;
}

.feedback_img__sm {
  width: 100%;
  margin-bottom: 16px;
}

.feedback_text {
  margin-bottom: 19px;
}

.feedback_name {
  margin-bottom: 27px;
}

.feedback_name p {
  border-bottom: 1px solid var(--white);
  width: fit-content;
}

@media (min-width:768px) {
  .feedback {
    margin-bottom: 0;
  }

  .feedback_img__sm {
    display: none;
  }

  .feedback_img {
    display: block;
    margin-bottom: 16px;
    width: 100%;
  }

  .feedback_text {
    height: 228px;
    margin-bottom: 37px;
  }

  .feedback_name {
    margin-bottom: 38px;
  }
}

@media (min-width:1000px) {
  .feedback_text {
    height: 185px;
  }
}

@media (min-width:1200px) {
  .feedback_text {
    height: 140px;
  }
}

@media (min-width:1600px) {

  .feedback_img {
    margin-bottom: 24px;
  }

  .feedback_text {
    margin-bottom: 64px;
  }

  .feedback_name {
    margin-bottom: 0;
  }

  .feedback_text {
    height: 200px;
  }

  .feedback_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .feedback:nth-child(2) {
    margin-top: 79px;
  }
}