.feedback {
  margin-bottom: 59px;
  width: 86%;
  margin: 0 auto 56px;
}

.feedback:last-child {
  margin-bottom: 0;
}

.feedback_img {
  display: none;
}

.feedback_img__sm {
  width: 100vw;
  margin-bottom: 16px;
}

.feedback_text {
  margin-bottom: 19px;
}

.feedback_name {
  margin-bottom: 27px;
}

.feedback_name p {
  border-bottom: 1px solid var(--white);
  width: fit-content;
}

@media (min-width:768px) {
  .feedback {
    margin-bottom: 0;
    width: 79%;
  }

  .feedback_img__sm {
    display: none;
  }

  .feedback_img {
    display: block;
    margin-bottom: 16px;
    width: 100vw;
  }

  .feedback_text {
    margin-bottom: 37px;
    height: 375px;
  }

  .feedback_name {
    margin-bottom: 38px;
  }
}

@media (min-width:1000px) {
  .feedback_text {
    height: 295px;
  }
}



@media (min-width:1400px) {
  .feedback_text {
    height: 210px;
  }
}

@media (min-width:1500px) {
  .feedback_text {
    height: 195px;
  }
}

@media (min-width:1600px) {
  .feedback {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }

  .feedback_img {
    margin-bottom: 24px;
    width: 100vw;
  }

  .feedback_text {
    margin-bottom: 64px;
    height: fit-content;
  }

  .feedback_name {
    margin-bottom: 0;
  }

  .feedback_text {
    height: 200px;
  }

  .feedback_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .feedback:nth-child(2) {
    margin-top: 79px;
  }
}