.block {
    margin-bottom: 152px;
}

.block_header {
    display: flex;
    flex-direction: row;
    transform: rotate(3deg);
    overflow: hidden;
    margin-left: -25%;
    margin-bottom: -20px;
}

.block_header__img1,
.block_header__img3,
.block_header__img5,
.block_header__img7 {
    width: 145px;
    margin-right: 16px;
}

.block_header__img2,
.block_header__img4,
.block_header__img6 {
    width: 86px;
    margin-right: 16px;
}

.block_header img:last-child {
    margin: 0;
}

.block_text {
    background: right top / contain no-repeat url('../../../../public/main/piercing360.jpg');
    padding-top: 261px;
    z-index: 2;
    position: relative;
    margin-top: 40px;
}

.block_footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
}

@media (min-width: 768px) {
    .block {
        margin-bottom: 208px;
    }

    .block_footer {
        margin-top: 56px;
    }

    .block_header__img1,
    .block_header__img3,
    .block_header__img5,
    .block_header__img7 {
        width: 212px;
        margin-right: 51px;
    }

    .block_header__img2,
    .block_header__img4,
    .block_header__img6 {
        width: 146.51px;
        margin-right: 51px;
    }

    .block_text {
        background: left top / contain no-repeat url('../../../../public/main/piercing768.jpg');
        width: 80%;
        margin: 0 auto;
        background-size: 85%;
        background-position: right top;
        padding-top: 339px;
    }

    .block_texts {
        margin-left: -5%;
        width: 90%;
    }
}


@media (min-width: 1278px) {
    .block_header__img1,
    .block_header__img3,
    .block_header__img5,
    .block_header__img7 {
        width: 287px;
        margin-right: 148px;
    }

    .block_header__img2,
    .block_header__img4,
    .block_header__img6 {
        width: 203px;
        margin-right: 148px;
    }

}

@media (min-width: 1600px) {
    .block {
        margin: 0 auto 186px;
        max-width: 1600px;
    }

    .block_text {
        background: right top / 75% no-repeat url('../../../../public/main/piercing1600.jpg');
        width: 90%;
        max-width: 1600px;
        padding-top: 380px;
    }

    .block_texts {
        padding: 0;
        width: 51%;
    }

    .block_footer {
        margin-top: 64px;
    }
}