.section {
    width: 100vw;
}

.top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 16px;
}

.top_left p,
.top_right_socials p {
    margin: 0;
}

.top_left_item,
.top_right_top {
    margin-bottom: 40px;
}

.map {
    width: 100%;
    margin-bottom: 100%;
    display: grid;
    position: relative;
}

.map_img {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0;
}

.map_img_hidden {
    opacity: 0;
}

.map_iframe {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
}

@media (min-width:768px) {
    .top {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .top_right,
    .top_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top_left_item {
        height: fit-content;
        margin: 0;
    }

    .top_right {
        align-items: flex-end;
    }

}

@media (min-width:1600px) {
    .map {
        max-width: 1600px;
        margin: 0 auto 75%;
    }
}