.block {
    width: 100vw;
    position: relative;
}
.block * {
    position: relative; 
}
/* TEXT */
.feedbacks {
    width: 100%;
    margin-bottom: 208px;
    margin-top: -150px;
    z-index: 5;
}

@media (min-width:768px) {
    .feedbacks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 28px;
        margin-bottom: 211px;
    }
}

@media (min-width:1600px) {
    .feedbacks {
        margin-bottom: 336px;
    }
}