.header_thin {
    font-family: Hind-Vadodara;
    color: var(--grey-light);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .header_thin {
        font-size: 20px;
    }
}

@media (min-width:1600px) {
    .header_thin {
        font-size: 24px;
    }
}