 .section {
   background: right bottom 18%/ contain no-repeat url("./../../../../public/main/part3_img_360.jpg");
   margin-bottom: 120px;
 }

 .section h3 {
   margin-bottom: 40px;
 }

 .text {
   margin-bottom: 291px;
 }

 @media (min-width: 360px) {
   .footer {
     margin-left: 49px;
   }
 }

 @media (min-width: 768px) {
   .section {
     background: right top 35% / 50% no-repeat url("./../../../../public/main/part3_img_768.jpg");
     margin-bottom: 208px;
   }

   .text {
     margin-bottom: 157px;
     max-width: 50%;
   }

   .section h3 {
     margin-bottom: 80px;
   }

   .footer {
     margin-left: 53px;
   }
 }


 @media (min-width: 1600px) {
   .section {
     background: right top 85% / 70% no-repeat url("./../../../../public/main/part3_img_1600.jpg");
     margin-bottom: 214px;
   }

   .text {
     margin-bottom: 336px;
   }

   .section h3 {
     margin-bottom: 128px;

   }

   .footer {
     margin-left: 99px;
   }
 }