.header {
  margin: 0 auto 40px;
  text-align: center;
}

.section {
  background: right bottom 15%/ contain no-repeat url("./../../../assets/main/part3_img_360.jpg");
  margin-bottom: 120px;
}

.text {
  margin-bottom: 291px;
}

@media (min-width: 360px) {
  .footer {
    margin-left: 49px;
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 80px;
  }

  .section {
    background: right top/ 65% no-repeat url("./../../../assets/main/part3_img_768.jpg");
    margin-bottom: 208px;
  }

  .text {
    padding-top: 16px;
    margin-bottom: 157px;
    width: 50%;
  }

  .footer {
    margin-left: 53px;
  }
}


@media (min-width: 1600px) {
  .header {
    margin-bottom: 128px;
  }

  .section {
    background: right top / 70% no-repeat url("./../../../assets/main/part3_img_1600.jpg");
    margin: 0 auto 186px;
    max-width: 1600px;
  }

  .text {
    margin-bottom: 336px;
    padding-top: 42px;
  }

  .footer {
    margin-left: 120px;
    width: 350px;
  }
}