:root {
  --bg-color: #191B1D;
  --main-color: #AF2043;
  --main-color-2: #9E2F4B;
  --main-color-3: #BD3455;
  --grey-light: #CDCDCD;
  --gray-dark: #494C50;
  --grey-middle: #797D83;
  --white: #FFFFFF;
}