.map iframe {
    width: 100%;
    height: 360px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) contrast(1);
    opacity: 0.8;
    border: none;
    margin-bottom: 68px;
}

@media (min-width:768px) {
    .map {
        margin-bottom: 100px;
    }

    .map iframe {
        height: 573px;
    }
}

@media (min-width:1600px) {
    .map {
        margin-bottom: 168px;
    }

    .map iframe {
        height: 1195px;
        max-width: 1600px;
        margin: 0 auto;
    }
}