.section {
    width: 100vw;
    position: relative;
}

.section * {
    position: relative;
}

.text {
    margin-bottom: 69px;
}

.text h4 {
    margin-bottom: 10px;
}

.question,
.img {
    margin-bottom: 168px;
}

.tape {
    margin-bottom: -100px;
}

@media (min-width:768px) {
    .tape {
        margin: 100px 0 -60px;
    }
}

@media (min-width:768px) {
    .tape {
        margin: 140px 0 -100px;
    }
}