.error {
    background-color: rgba(0, 0, 0, 1.00);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    text-align: center;
}

.error h3 {
    margin-bottom: 20px;
}
.error_img {
    height: 100%;
    margin-top: 10px;
}